/**
 * @file
 * Styling for news import configuration forms.
 */

#newsimport-mapping-form fieldset .fieldset-wrapper {
  display: flex;
}

#newsimport-mapping-form fieldset .fieldset-wrapper > div {
  margin-right: 2em;
}
